## Tuples

In [1]:
# Tuples are immutable

In [8]:
# Creating tuples
# 1st way
x = ()
print(type(x))
# 2nd way
y = (5,)
print(type(y))
# 3rd way
z = tuple([1,'ipsita','3'])
print(type(z))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [26]:
# homogenous tuple
t1 = (1,2,3,4)
print(t1)
# heterogenous tuple
t2 = (1,'Ipsita',True,[1,2])
print(t2)
# 2d tuple
t3 = ((1,2),(3,4))
print(t3)

(1, 2, 3, 4)
(1, 'Ipsita', True, [1, 2])
((1, 2), (3, 4))

In [29]:
# Accessing Items from tuple
# Indexing 
print(t1)
print(t1[0])
print(t1[-1])
# Slicing
print(t1[0::2])
print(t1[-4:-2])
print(t1[-1:-4:-1])

(1, 2, 3, 4)
1
4
(1, 3)
(1, 2)
(4, 3, 2)

In [17]:
# Editing in tuples is not possible 
t1[0] = 10

TypeError: 'tuple' object does not support item assignment

In [18]:
# Adding in tuples is not possible
t1[-1] = 15

TypeError: 'tuple' object does not support item assignment

In [27]:
# Deleting items in tuple
print(t2)
del t2
#print(t2)
del t3[-1]

(1, 'Ipsita', True, [1, 2])

TypeError: 'tuple' object doesn't support item deletion

In [31]:
# Operations on Tuples
# + and *
t1 = (1,2,3)
t2 = (4,5,6)
print(t1+t2)
print(t1*2)
# Membership
print(1 in t1)
print(5 not in t1+t2)
# iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)
True
False
1
2
3

In [34]:
# functions on tuples
t3 = t1+t2

# len min max sum sorted
print(len(t3))
print(min(t3))
print(max(t3))
print(sum(t3))
print(sorted(t3,reverse = True))

6
1
6
21
[6, 5, 4, 3, 2, 1]

In [35]:
sorted('ipsita')

['a', 'i', 'i', 'p', 's', 't']

In [36]:
t3.count(5)

1

In [37]:
t3.index(1)

0

In [39]:
l1 = [1,2,3,4,5]
l2 = [2,3,4,5,6]
m = []
for (x,y) in zip(l1,l2):
    m.append(x+y)
    
print(m)

[3, 5, 7, 9, 11]

In [40]:
# tuples are faster than list because tuples are immutable

In [5]:
import time
l = list(range(100000000))
t = tuple(range(100000000))
start = time.time()
for i in l:
    i*5
print(time.time()-start)
start = time.time()
for i in t:
    i*5
print(time.time()-start)

12.677999258041382
12.390011548995972

In [10]:
# tuple takes less memory than list
import sys
L = list(range(90000000))
T = tuple(range(90000000))

print('list',sys.getsizeof(L))
print('tuple',sys.getsizeof(T))

list 720000056
tuple 720000040

In [11]:
a = [1,2,3]
b = a

b.append(5)
print(b,a)

[1, 2, 3, 5] [1, 2, 3, 5]

In [13]:
a = (1,2,3,4)
b = a + (5,)
print(a,b)

(1, 2, 3, 4) (1, 2, 3, 4, 5)

In [1]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b)

1 2

In [2]:
# swapping values
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [3]:
a,b,*others = (1,3,6,7,8)
print(a,b,others)

1 3 [6, 7, 8]

In [7]:
(i for i in range(10))

In [6]:
[i for i in range(0,10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Sets

In [8]:
# Charecterstics
## Unordered
## Mutable
## No Duplicates
## Cannot contain mutable data type items

In [22]:
# Creating a set
# empty set
s = set()
s1 = {1,}
print(s)
print(type(s))
print(s1)
print(type(s1))

# 1d set and 2d
s2 = {1,2,3}
#s3 = {1,2,3,{3,4}}
#print(s2,s3)

# homo and hetero
s4 = {1,2,3,1,23,True} # duplicates are not allowed
print(s4)
s5 = {1,2,3,(2,3)}
print(s5) # Hashing decides which item goes where within set

set()
<class 'set'>
{1}
<class 'set'>
{1, 2, 3, 23}
{(2, 3), 1, 2, 3}

In [24]:
s1 = {1,2,3}
s2 = {3,2,1}
s1 == s2 # unordered set --> only comparing contents

True

In [25]:
# accessing items --> not possible
s1 = {1,2,3,4,5}
s1[0]

TypeError: 'set' object is not subscriptable

In [34]:
# EDITING ITEMS
# add
s1.add(10)
print(s1)
s2 = {7,8,9}
# update
s1.update(s2)
print(s1,s2)
s1.update([11,12])
print(s1)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12} {8, 9, 7}
{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12}

In [46]:
# delte set items or sets

s = {1,2,3,4,5}
print(s)
del s
# print(s)

#discard
s = {1,2,3,4,5,6,7}
s.discard(7)
s.discard(59)

# pop
s.pop()
print(s)

# remove
s.remove(6)
#s.remove(50)

# clear
s.clear()
print(s)

{1, 2, 3, 4, 5}
{2, 3, 4, 5, 6}
set()

In [45]:
s.pop()
print(s)

set()

In [57]:
## Set Operation
s1 = {1,2,3,4,5,6}
s2 = {2,3,5,7,8,4}
# Union
print(s1.union(s2))
print(s1 | s2)
# intersection
print(s1.intersection(s2))
print(s1&s2)
# difference
print(s1.difference(s2))
print(s1-s2)
# Symmetric Difference
print(s1.symmetric_difference(s2))
print(s1^s2)
# Membership test
print(1 in s1)
print(1 not in s2)
# Iteration
for i in s1:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{2, 3, 4, 5}
{2, 3, 4, 5}
{1, 6}
{1, 6}
{1, 6, 7, 8}
{1, 6, 7, 8}
True
True
1
2
3
4
5
6

In [59]:
# Set functions
# generic functions
print(len(s1))
print(sum(s1))
print(min(s1))
print(max(s1))
print(sorted(s1,reverse = True))

6
21
1
6
[6, 5, 4, 3, 2, 1]

In [76]:
# Set functions
s1 = {1, 2, 3, 4, 5, 6}
s2 = {2, 3, 4, 5, 7, 8}
print(s1,s2)
s1.union(s2)

{1, 2, 3, 4, 5, 6} {2, 3, 4, 5, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [77]:
s2.update(s1)
print(s1)
s2 = {2, 3, 4, 5, 7, 8}

{1, 2, 3, 4, 5, 6}

In [78]:
# Intersection
print(s1,s2)
s1.intersection_update(s2)
print(s1,s2)

{1, 2, 3, 4, 5, 6} {2, 3, 4, 5, 7, 8}
{2, 3, 4, 5} {2, 3, 4, 5, 7, 8}

In [79]:
# difference 
s1 = {1, 2, 3, 4, 5, 6}
s2 = {2, 3, 4, 5, 7, 8}
s1.difference_update(s2)
print(s1)

{1, 6}

In [80]:
# symetric difference 
s1 = {1, 2, 3, 4, 5, 6}
s2 = {2, 3, 4, 5, 7, 8}
s1.symmetric_difference_update(s2)
print(s1)

{1, 6, 7, 8}

In [83]:
# isdisjoint
s1 = {1, 2, 3}
s2 = {3,4, 5, 7, 8}
s3 = {4,5,7,8}
s1.isdisjoint(s2)
s1.isdisjoint(s3)

True

In [84]:
s3.issubset(s2)

True

In [85]:
s2.issuperset(s3)

True

In [93]:
# copy
s1 = {1, 2, 3}
s2 = {3,4, 5, 7, 8}
s3 = {4,5,7,8}

s2 = s1.copy()
print(s1,s2)

s2.add(5)

print(s1,s2)

{1, 2, 3} {1, 2, 3}
{1, 2, 3} {1, 2, 3, 5}

In [94]:
# Frozen set is immutable python set

In [95]:
# Create frozen set
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,5,6])

fs1 | fs2

frozenset({1, 2, 3, 5, 6})

In [96]:
# What works and what does not work
# works --> all read functions
# does not work -- > write functions

In [98]:
# when to use --> read only operations in sets
# 2d set
fs1 = frozenset([1,2,3])
s1 = {1,2,3,fs1}
print(s1)

{frozenset({1, 2, 3}), 1, 2, 3}

In [100]:
# set comprehension
{i for i in range(1,11) if i > 5}

{6, 7, 8, 9, 10}

### Dictionary

In [101]:
# Charecterstics
# Mutable
# Keys cannot be mutable
# Keys cannot be duplicate

In [126]:
# Creating Dictionary
# empty dictionary
d = {}
print(d)
# 1d dictionary
d1 = {'name':'ipsita','age':34,'gender':'female'}
print(d1)
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
print(d2)
# 2d dictionary
s = {
    'name' : 'Ipsita',
    'college' : 'BIT',
    'subjects' : {
        'dsa':50,
        'maths':75,
        'english':90
    }
}
print(s)
# Using sequensce and dict function
d4 = dict((['name','ipsita'],['age',35],['gender','female']))
print(d4)

{}
{'name': 'ipsita', 'age': 34, 'gender': 'female'}
{(1, 2, 3): 1, 'hello': 'world'}
{'name': 'Ipsita', 'college': 'BIT', 'subjects': {'dsa': 50, 'maths': 75, 'english': 90}}
{'name': 'ipsita', 'age': 35, 'gender': 'female'}

In [112]:
# duplicate keys are not possible
dc = {'name':'ipsita','name':'abhinav'}
dc

{'name': 'abhinav'}

In [113]:
# mutable items as keys
dc1 = {[1,2,3]:1}
dc1

TypeError: unhashable type: 'list'

In [115]:
# mutable items as keys
dc2 = {{1,2,3}:1}
dc2

TypeError: unhashable type: 'set'

In [117]:
# mutable items as keys
dc3 = {(1,2,3):1}
dc3

{(1, 2, 3): 1}

In [121]:
# Accessing items
my_dict = {'name':'ipsita','age':35}
print(my_dict['name'])
print(my_dict['age'])
print(my_dict.get('name'))

ipsita
35
ipsita

In [122]:
# Adding Key Value pair
my_dict['gender'] = 'female'
my_dict['weight'] = 75
my_dict

{'name': 'ipsita', 'age': 35, 'gender': 'female', 'weight': 75}

In [133]:
# Remove key value pair
d4 = dict((['name','ipsita'],['age',35],['gender','female']))
print(d4)
# pop
d4.pop('gender')
print(d4)
# popitem
d4.popitem()
print(d4)
# del 
del d4['name']
print(d4)
d4 = dict((['name','ipsita'],['age',35],['gender','female']))
print(d4)
#clear
d4.clear()
print(d4)

{'name': 'ipsita', 'age': 35, 'gender': 'female'}
{'name': 'ipsita', 'age': 35}
{'name': 'ipsita'}
{}
{'name': 'ipsita', 'age': 35, 'gender': 'female'}
{}

In [136]:
# editing key value pair 
d4 = dict((['name','ipsita'],['age',35],['gender','female']))
print(d4)
d4['name'] = 'ipsita panda'
print(d4)

{'name': 'ipsita', 'age': 35, 'gender': 'female'}
{'name': 'ipsita panda', 'age': 35, 'gender': 'female'}

In [135]:
# Dictionary operation

In [138]:
# membership operation --> only works with keys
'name' in d4

True

In [139]:
# iteration
for i in d4:
    print(i,d4[i])

name ipsita panda
age 35
gender female

In [141]:
# dictionary function
print(len(d4)) 

print(sorted(d4)) # --> keys

3
['age', 'gender', 'name']

In [144]:
# items/keys/values
print(d4.items())
print(d4.keys())
print(d4.values())

dict_items([('name', 'ipsita panda'), ('age', 35), ('gender', 'female')])
dict_keys(['name', 'age', 'gender'])
dict_values(['ipsita panda', 35, 'female'])

In [146]:
# update
d1 = {1:2,3:4,4:5,5:6}
d2 = {3:8,5:9}
d1.update(d2)
print(d1)

{1: 2, 3: 8, 4: 5, 5: 9}

In [147]:
# {key: val for vars in iterable}

# print 1st 10 numbers and its square
{i : i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [149]:
# using existing dict
distance = {'delhi':1000,'mumbai':2000,'bangalore':3000}

{key : value*0.62 for (key,value) in distance.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [150]:
d1 = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
d2 = [30,31,29,32,31,30,28]
{i:j for (i,j) in list(zip(d1,d2))}

{'Sunday': 30,
 'Monday': 31,
 'Tuesday': 29,
 'Wednesday': 32,
 'Thursday': 31,
 'Friday': 30,
 'Saturday': 28}

In [1]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key,value) in products.items() if value > 0}

{'phone': 10, 'charger': 32}

In [3]:
{i:{j:i*j for j in range(1,6)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20}}